<h1>Listing new_microposts</h1>

<table>
  <tr>
    <th>User</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @new_microposts.each do |new_micropost| %>
  <tr>
    <td><%= new_micropost.user_id %></td>
    <td><%= new_micropost.content %></td>
    <td><%= link_to 'Show', new_micropost %></td>
    <td><%= link_to 'Edit', edit_new_micropost_path(new_micropost) %></td>
    <td><%= link_to 'Destroy', new_micropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New New micropost', new_new_micropost_path %>
